body{
    background-image: url(https://s0.smartresize.com/wallpaper/465/996/HD-wallpaper-anime-street-japan-japanese-anime-orginal-scenery-street-night.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-size: 100%;
    background-color: black;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.contenedor{
    background-color: aqua;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2 2 10px blue;
    text-align: center;
}

h1{
    color: #333;
}

input{
    padding: 10px;
    font-size: 16px;
    width: 70%;
    margin-right: 10px;
    border-radius: 20px;
}

button{
    padding: 10px;
    margin: 2%;
    border-radius: 7px;
    font-size: 16px;
    cursor: pointer;
    background-color: black;
    color: aquamarine;
}
button:hover{ 
    background-color: aquamarine;
    color: black;
}

ul{
    list-style-type: none;
    padding: 0;
}

li{
    padding: 10px;
    background-color: blue;
    color: yellow;
    margin: 5px 0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.completed{
    text-decoration: line-through;
    background-color: #12df5d;
}

button.remove{
    background-color: red;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
    cursor: pointer;
}

button.remove:hover{
    background-color: darkred;
}
